.contact-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}

.filter {
  input {
    margin-left: 5px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
  }
  margin-bottom: 10px;
}
